/* App.css */

/* Importation de la police Roboto depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Styles globaux */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Conteneur principal */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* En-tête */
header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2em;
}

header p {
  font-size: 1.2em;
}

/* Profil utilisateur */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.profile p {
  font-size: 1em;
  margin-bottom: 5px;
}

/* Liste des tâches */
.tasks {
  margin-bottom: 20px;
}

.tasks h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.tasks ul {
  list-style-type: none;
  padding: 0;
}

.tasks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Section de connexion */
.auth-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container label {
  margin-bottom: 5px;
}

.auth-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.auth-container p {
  margin-top: 10px;
}

.auth-container a {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}
